<div class="content">
	<div class="side-panel">
		<form class="form-filter" [formGroup]="form">
			<div class="language">
				<mat-form-field>
					<mat-select formControlName="language">
						<mat-option value="fr">FR</mat-option>
						<mat-option value="fr-5">FR (Wordle)</mat-option>
						<mat-option value="en">EN</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="filter-group">
				<div class="filter">
					<mat-label>Start with</mat-label>
					<mat-button-toggle-group formControlName="startWith">
						<mat-button-toggle *ngFor="let letter of alphabet" [value]="letter">{{ letter }}</mat-button-toggle>
					</mat-button-toggle-group>
				</div>
			</div>

			<div class="filter form-last-line">
				<mat-form-field>
					<mat-label>Length</mat-label>
					<input matInput type="number" formControlName="length" />
				</mat-form-field>

				<button mat-stroked-button color="primary" class="filter-btn" type="submit" [disabled]="form.invalid" (click)="filter()">Filter</button>
				<button mat-stroked-button color="accent" (click)="reset()">
					<mat-icon>replay</mat-icon>
				</button>
			</div>
		</form>

		<div class="filter-group" *ngIf="result.length">
			<div class="filter">
				<mat-label>Include</mat-label>
				<div class="filter-buttons">
					<mat-button-toggle-group [(ngModel)]="toInclude" multiple>
						<mat-button-toggle
							*ngFor="let letter of alphabet"
							[value]="letter"
							[disabled]="included.includes(letter) || excluded.includes(letter) || startWith === letter"
						>
							{{ letter }}
						</mat-button-toggle>
					</mat-button-toggle-group>

					<button mat-icon-button color="primary" [disabled]="!toInclude.length" (click)="addToIncluded()">
						<mat-icon>add</mat-icon>
					</button>
				</div>

				<div class="char-display">
					<div>
						{{ included.join(", ") }}
					</div>

					<button *ngIf="included.length" color="warn" mat-icon-button (click)="included = []">
						<mat-icon>clear</mat-icon>
					</button>
				</div>
			</div>
			<div class="filter">
				<mat-label>Exclude</mat-label>
				<div class="filter-buttons">
					<mat-button-toggle-group [(ngModel)]="toExclude" multiple>
						<mat-button-toggle
							*ngFor="let letter of alphabet"
							[value]="letter"
							[disabled]="included.includes(letter) || excluded.includes(letter) || startWith === letter"
						>
							{{ letter }}
						</mat-button-toggle>
					</mat-button-toggle-group>

					<button mat-icon-button color="primary" [disabled]="!toExclude.length" (click)="addToExcluded()">
						<mat-icon>add</mat-icon>
					</button>
				</div>

				<div class="char-display">
					<div>
						{{ excluded.join(", ") }}
					</div>

					<button *ngIf="excluded.length" color="warn" mat-icon-button (click)="excluded = []">
						<mat-icon>clear</mat-icon>
					</button>
				</div>
			</div>
		</div>
		<ng-container *ngIf="result.length">
			<form class="word-builder" [formGroup]="wordBuilderForm">
				<ng-container *ngFor="let i of headerCount; let index = index">
					<mat-form-field>
						<mat-label>{{ index + 1 }}</mat-label>
						<input [formControlName]="index" matInput />
					</mat-form-field>
				</ng-container>
			</form>
		</ng-container>
	</div>
	<div class="result">
		<mat-card *ngIf="result.length">
			<div class="header">
				<span *ngFor="let i of headerCount; let index = index">
					{{ index + 1 }}
				</span>
			</div>
			<mat-list dense>
				<cdk-virtual-scroll-viewport itemSize="40">
					<ng-container *cdkVirtualFor="let word of result | exclude: excluded | include: included; let last = last">
						<mat-list-item>
							<div class="item">
								<div class="char" *ngFor="let char of word.split('')">
									{{ char }}
								</div>
							</div>
						</mat-list-item>
						<!-- <mat-divider *ngIf="!last"></mat-divider> -->
					</ng-container>
				</cdk-virtual-scroll-viewport>
			</mat-list>
		</mat-card>
	</div>
</div>
